@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&family=Shippori+Mincho:wght@400;500;600;700;800&display=swap');

:root {
    --default-font: 'Poppins', sans-serif;
    --display-font: 'Shippori Mincho', serif;
    --black: #141414
    --grey: #333333;
    --light-grey: #949494;
    --white: #F5F5F5;
    --blue: #3C8CCD;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--default-font);
    color: var(--black);
    text-align: justify;
}

html {
    width: 100vw;
    height: 100vh;
}

.main-container {
    max-width: 700px;
    margin-top: 50px;
    padding: 25px;
    margin: auto;
    padding-top: 30px;
}

.nav-container {
    display: flex;
    justify-content: flex-start;
    position: relative
}

.icon-github {
    width: 40px;
    height: 40px;
    border: 2px solid black;
    padding: 3px;
    border-radius: 50px;
    cursor: pointer;
}

.link-github {
    display: block;
    margin-left: auto;
}

.input-word{
    border-radius: 25px;
    padding: 5px 18px 5px 18px;
    width: 220px;
    height: 40px;
    font-size: 1em;
    font-family: var(--display-font);
    font-weight: bolder;
}

.search-word {
    height: 40px;
    width: 40px;
    font-size: 1.2em;
    cursor: pointer;
    padding: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 175px;
}

.word-display {
    font-family: var(--display-font);
    font-size: 3.2em;
    font-weight: 800;
    margin-top: 40px;
}

.main-word-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.description {
    font-family: var(--display-font);
    font-size: 0.9em;
    font-weight: bolder;
    margin-bottom: 20px;
}

.syllables {
    margin-top: 10px;
    margin-bottom: 15px;
}

.main-meaning {
    font-weight: 400;
    margin: 20px 0px;
    font-size: 1.1em;
}

.padding-content {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}

.other-meaning {
    font-weight: 400;
    font-size: 0.9em;
}

.line {
    background-color: black;
    width: 60px;
    height: 1px;
    border: 0px;
    margin: 20px 0px 40px 0px;
}

.etymology {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 0.8em;
}

.sentences {
    margin: 0px 0px 20px 0px;
}

.italic {
    font-style: italic;
    font-weight: 300;
}

.strong {
    font-weight: 600;
}